* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: linear-gradient(to right, rgb(75, 105, 185), rgb(124, 157, 206));
}

#heading1 {
    color: rgb(53, 52, 52);
    text-shadow: 2px 2px 4px #e0dada8a;
}

.budget-container {
    background-color: white;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.733), 0 6px 20px 0 rgba(0, 0, 0, 0.74);
    max-width: 1200px;
    margin: auto;
}

.add-budget {
    background-color: rgb(228, 226, 226);
    padding: 20px;
    border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.733), 0 6px 20px 0 rgba(0, 0, 0, 0.74);
}

.add-expense {
    background-color: rgb(228, 226, 226);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.733), 0 6px 20px 0 rgba(0, 0, 0, 0.74);
}

.display-container {
    background-color: rgb(228, 226, 226);
    padding: 20px;
    border-radius: 15px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

@media (max-width: 576px) {
    .budget-container {
        padding: 20px !important;
        margin: 2px !important;
    }

    h1 {
        font-size: 1.5rem;
    }
}

.table-responsive {
    max-height: 400px;
    overflow-y: auto;
}